/*body {
    background-color: black;
}*/

body {
    background-color: black;
    background-image: url(thumbnails2/blackhole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/

}