nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed */
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li:hover {
    background-color: lightgray;
    color: white;
}
.twocolimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: inline-flex;
    gap: 20px;
}

.image_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
}

main {
    padding-bottom: 50px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

#education-awards {
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

footer p {
    color: #666;
    font-size: 14px;
}
